doctype html
html
    head
        title PassportJS SAML example
        block links
            link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    body
        div.container
            block content
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
        <script>
        alert('test')
        </script>
        block scripts
